@import "tailwindcss";

:root {
  --color-naranja: #F28C38;
  --color-verde: #6DA34D;
  --color-marron: #5B3E2B;
  --color-amarillo: #F4C95D;
  --color-beige: #F8F3EC;

  --background: #F8F3EC; /* beige claro para un fondo suave */
  --foreground: #3B2B23; /* negro café para el texto */

  --accent-primary: var(--color-naranja);
  --accent-secondary: var(--color-verde);
  --accent-highlight: var(--color-amarillo);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --accent-primary: #F4C95D;   /* cambia naranja por amarillo para resaltar mejor en fondo oscuro */
    --accent-secondary: #6DA34D;
    --accent-highlight: #F28C38;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
